# Files to ignore when considering what GIT should commit.

# Visual Studio
source-shader-editor
*.suo
*.user
*.sln.docstates
*.obj
*.pch
*.tlog
*.log
*.scc
*.exp
*.ilk
*.lastbuildstate
vc100.pdb
ipch
*.sdf
*.opensdf
*.idb
*.vcxproj
*.vcxproj.filters
*.sln
*.vpc_crc
*.vpc.sentinel
*.VC
*.VC.VC.opendb
*.VC.db
*.pdb
*.mdmp

# shader files
*.tmp

hammer.vdf
GameConfig.txt

game/hl2
game/portal

src/game/client/Release*
src/game/client/Debug*
src/game/server/Debug*
src/game/server/Release*


src/.vs/Game_Deferred-2013/v15/Browse.VC.opendb
src/materialsystem/deferredshaders/Release_dx9_deferred/game_shader_generic_deferred.lib
src/materialsystem/deferredshaders/Release_dx9_deferred/game_shader_generic_deferred.dll
src/materialsystem/deferredshaders/Debug_dx9_deferred/game_shader_generic_deferred.lib
src/.vs/Game_Deferred-2013/v15/Solution.VC.db-wal
src/.vs/Game_Deferred-2013/v15/Solution.VC.db-shm
src/.vs
/game